<!doctype html>{% load compress static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjPostgres</title>
    <link type="text/css" rel="stylesheet" href="{% static "djpostgres/pure_css/pure.css" %}" charset="utf-8">
    {% compress css %}
      <link type="text/x-sass" rel="stylesheet" href="{% static "djpostgres/css/djpostgres.scss" %}" charset="utf-8">
    {% endcompress %}
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static "djpostgres/pure_css/grids-responsive-old-ie-min.css" %}"><![endif]-->
    <!--[if gt IE 8]><!--><link rel="stylesheet" href="{% static "djpostgres/pure_css/grids-responsive-min.css" %}"><!--<![endif]-->
  </head>
  <body>
    <div id="elm"></div>
    <script src="/static/djpostgres/elm.js"></script>
    <script type="text/javascript">Elm.DjPostgres.embed(document.querySelector("#elm"));</script>
  </body>
</html>